---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'

import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos-small.png';
---

<Layout title="About Astro">
  <section class="page-content">
    <section class="page-content">
      <div class="container">
        <h2>About </h2>
        <p>
          Building Now. Please Check again after some time!
        </p>

        <p>
          
        </p>

        <div class="card">
          
          <p>
            
          </p>
        </div>
        
      
    
          <h3>Join our Community</h3>
          <p>
            Join us in twitter where you share and get help from an
            active, friendly community!
          </p>

          <ul>
            <li>💬 Say hi in our introduce-yourself!</li>
            <li>
              💬 Ask our Support Squad a question in our #support-threads!
            </li>
            <li>
              💬 Share what you've been working on in our #showcase!
            </li>
          </ul>
     
      </div> <br>
    </section>
  </section>
</Layout>