---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';

const posts = await Astro.glob('../posts/*.md');
---

<Layout title="Services">
  <Showcase heading="Services Provided" text="Solution : Connect with FinEdge" />
  <section class="page-content">
    <div class="container">
      {posts.map(post => (
        <Card>
          <p>Upcoming Soon!</p>
        </Card>
      ))}
    </div>
  </section>
</Layout>